{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Senthil Andavar | Auto diesel works</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'index/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'index/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'index/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'index/style.css' %}" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro"><span>Senthil Andavar</span></a></h1>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <p>
    {% if messages %}
      <br><br><br>
        {% for message in messages %}
          <div class="alert alert-primary">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
  </p>

  <section id="intro" class="clearfix" style="background: url('{% static 'index/intro-bg.png' %}')">
    
    <div class="container">

      <div class="intro-img">
        <img src="https://media1.giphy.com/media/lrDKaXdgYqwKwArGUA/giphy.gif" alt="" width="400" height="400" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We take care of your automobile!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>
      <div></div>
      <div class="intro-info">
        <h1 class="phone-text">Tata Motors certified Mechanic!</h1>
        &nbsp;&nbsp;<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>

        <span class="phone ml-3">V. Raja | +91 94866 47406 / +91 98427 47406</span>
        </svg>

      </div>

      <div class="intro-info phone">
        <svg width="40px" height="40px" viewBox="0 0 24 24"><g class="icon_svg-stroke" stroke="white" stroke-width="0.5" fill="white" fill-rule="evenodd" stroke-linecap="round"><path d="M12,13 C13.6568542,13 15,11.6568542 15,10 C15,8.34314575 13.6568542,7 12,7 C10.3431458,7 9,8.34314575 9,10 C9,11.6568542 10.3431458,13 12,13 Z M12,20.73 C16.6375,16.5 19,12.9 19,10.2 C19,6.2235498 15.8659932,3 12,3 C8.13400675,3 5,6.2235498 5,10.2 C5,12.9 7.3625,16.41 12,20.73 L12,20.73 Z"></path></g></svg>
        &nbsp;&nbsp;&nbsp;<span>Attur Cuddalore main road, Kattukottai</span>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>We are <strong>Tata Motors certified Mechanic workshop </strong>with 23+ years of experiance in automobile service!</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              We are located at Kattukottai near Attur, 100 metres from Attur-cuddalore highway. With water washing, body building | welding & painting work shops around us, you can get everything for your automobile in one place! 
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title">Best In Market</h4>
              <p class="description">We | <strong>Senthil Andavar auto diesel works</strong> provides best service to your automobile. We have almost all spare parts with us, hence you no need to search for spare parts.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title">Hub of talented Mechanics</h4>
              <p class="description">We have talented mechanics who take care of your automobile with utmost care. We trust and value our people's idea & always welcome new innovative ideas.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title">Positive customer feedback</h4>
              <p class="description">We are able to sustain in this industry only because we provide best work to our customers. We always loves to hear from customer & it keeps us motivated throughout.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="{% static 'index/my pic 1.jpg' %}" class="img-fluid" height="800" width="800" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="{% static 'index/my pic 2.jpg' %}" height="400" width="400" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Excellent work with lowest service price!</h4>
            <p>
              We value every paisa of your hard earned money. The complete work will be done for  reasonable price with our best effort. Our mechanics are skilled enough to repair end to end parts.
            </p>
            <p>
              We are experts in servicing individual parts of automobile such as Engine, Gearbox, Differential, Propeller shaft, Boost, Dryer and Vacuum kits. Hence the work will be delivered on time!
            </p>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
          <p>We provide end to end service from Engine to Differential with the help of our skilled mechanics!</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title">Engine</h4>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title">Gear Box</h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title">Differential</h4>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title">Propeller shaft</h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title">Vacuum kit, Dryer & Boost</h4>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <h4 class="title">Radiator & Compressor</h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p></p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Customer value</h5>
                <p class="card-text">We value your thoughts! That's why we are sustaining in this field for this long!</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              <div class="card-body">
                <h5 class="card-title">Best in market</h5>
                <p class="card-text">We have more than 23 years experiance in the automobile service with excellent customer feedback!</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-balance-scale" aria-hidden="true"></i>
              <div class="card-body">
                <h5 class="card-title">Cheap</h5>
                <p class="card-text">We value your hard earned money! We offer cheapest rate in market!</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1000</span><p>+</p>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">5000</span><p>+</p>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">24</span>
            <p>Open hrs</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">23</span><p>+</p>
            <p>Experiance in Year</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15634.013953601123!2d78.64537158907739!3d11.587408668622919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xffb4939794be2e8b!2sSenthil%20Aandavar%20Auto%20diesal%20Works!5e0!3m2!1sen!2sin!4v1594906190109!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>Attur Cuddalore main road, Kattukottai</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>yugeshwaranmech @gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>V. Raja &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 94866 47406 <br>98427 47406</p>
              </div>
            </div>
            <div class="form">
              <form method="POST">
                <input type="hidden" name="message_form" value="message_form">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    {{ message_form.name }}
                  </div>
                  <div class="form-group col-lg-6">
                    {{ message_form.mobile }}
                  </div>
                </div>
                <div class="form-group">
                  {{ message_form.subject }}
                </div>
                <div class="form-group">
                  {{ message_form.message }}
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Senthil Andavar</h3>
            <p>We are Tata motor certified mechanic, providing services to all kind of automobile vehicle such as Leyland, Comet, Eicher, BSII, BSIII, BSIV & so on. </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              <strong>Owner | V. Raja </strong><br>
              <strong> Senthil Andavar auto diesel works </strong><br>
              Salem Cuddalore main road <br>
              Kaatukottai<br>
              Attur(T.K), Salem(D.T) <br>
              <strong>Phone: </strong> +91 94866 47406 <br> 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 98427 47406<br>
              <strong>Email: </strong>yugeshwaranmech@gmail.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe us for our latest updates via email. Don't worry! Like you, we hate spam content too!</p>
            <form method="POST">
              <input type="hidden" name="email_form" value="email_form">
              {% csrf_token %}
              {{ email_form.email }}
              <br>
              <input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NewBiz</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'index/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'index/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'index/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'index/easing/easing.min.js' %}"></script>
  <script src="{% static 'index/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static 'index/wow/wow.min.js' %}"></script>
  <script src="{% static 'index/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'index/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'index/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'index/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'index/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'index/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'index/main.js' %}"></script>

</body>
</html>
